<div class="move-routing-component">

    <div class="block-inputs">
        <input-map-component 
            *ngFor="let route of routes; let i = index" 
            [route]="route"
            (clickDelete)="onClickDelete($event)"
        >
        </input-map-component>
    </div>

    <div class="block-btns">
        <div class="btn-main" (click)="addRoute()">+</div>
        <div [ngClass]="isLoopRouting && isLoopRouting === 1 ? 'btn-main' : 'btn-second'" (click)="clickRun(1)">Запустить</div>
    </div>
    <div [ngClass]="isLoopRouting && isLoopRouting === 2 ? 'btn-main' : 'btn-second'" (click)="clickRun(2)">Зациклить</div>

</div>