<div class="page-streams">

  <div class="stream"> 
      <div class="title-2">Видеопоток: {{streamNames.optic}}</div>
      <div class="param-group">
        <div class="param-path">
          <param-control-component
            *ngFor="let param of params.optic.numbers; let i = index"
            [paramInput]="params.optic.numbers[i]" 
          >
          </param-control-component>
        </div>
        <div class="param-path">
          <param-control-component
            *ngFor="let param of params.optic.images; let i = index"
            [paramInput]="param" 
          >
          </param-control-component> 
        </div>
      </div>
      <img *ngIf="imgOptic" class="stream-img" [src]="imgOptic" alt="Stream optic">
    </div>
  
    <div class="stream"> 
      <div class="title-2">Видеопоток: {{streamNames.termal}}</div>
      <div class="param-group">
        <div class="param-path">
          <param-control-component
            *ngFor="let param of params.termal.numbers; let i = index"
            [paramInput]="param" 
          >
          </param-control-component>
        </div>
        <div class="param-path">
          <param-control-component
            *ngFor="let param of params.termal.images; let i = index"
            [paramInput]="param" 
          >
          </param-control-component>
        </div> 
      </div>
      <img *ngIf="imgTermal" class="stream-img" [src]="imgTermal" alt="Stream termal">
    </div>

</div>

