<div class="page-streams">

  <div class="stream"> 
      <div class="title-2">Видеопоток: {{stream.optic.name}}</div>
      <div class="param-group">
        <div class="param-path">
          <param-control-component
            class="focusElement" tabindex="0" 
            *ngFor="let param of opticParam.slice(0, 3); let i = index"
            [params]="opticParam[i]" 
            (valueChange)="onParamValueChange($event, stream.optic.name, i)"
          >
          </param-control-component>
        </div>
        <div class="param-path">
          <param-control-component 
            class="focusElement" tabindex="0" 
            [params]="opticParam[3]"
            (activeChange)="onParamNNChange($event, stream.optic.name)"
          >
          </param-control-component>
        </div>
      </div>
      <img *ngIf="imgOptic" class="stream-img" [src]="imgOptic" alt="Stream optic">
    </div>
  
    <div class="stream"> 
      <div class="title-2">Видеопоток: {{stream.termal.name}}</div>
      <div class="param-group">
        <div class="param-path">
          <param-control-component
            class="focusElement" tabindex="0" 
            *ngFor="let param of termalParam.slice(0, 2); let i = index"
            [params]="termalParam[i]" 
            (valueChange)="onParamValueChange($event, stream.termal.name, i)"
          >
          </param-control-component>
        </div>
        <div class="param-path">
          <param-control-component 
            class="focusElement" tabindex="0" 
            [params]="termalParam[2]"
            (activeChange)="false"
          >
          </param-control-component>
          <param-control-component 
            class="focusElement" tabindex="0" 
            [params]="termalParam[3]"
            (activeChange)="onParamNNChange($event, stream.termal.name)"
          >
          </param-control-component>
        </div> 
      </div>
      <img class="stream-img" [src]="imgTermal" alt="Stream termal">
    </div>

</div>

