<div class="move-block-component">
    <div class="control-btns">
        <div class="btns-row">
            <div class="btn-move" (click)="clickMoveY(1); clickMoveX(-1)"></div> 
            <div 
                class="btn-move" #up  [innerHTML]="icon_arrow_up"
                (click)="clickMoveY(1)"  (mousedown)="onBtnDown(command.up)" (mouseup)="onBtnUp()"
            ></div> 
            <div class="btn-move" (click)="clickMoveY(1); clickMoveX(1)"></div>   
        </div>
        
        <div class="btns-row">        
            <div 
                class="btn-move" #left [innerHTML]="icon_arrow_left"
                (click)="clickMoveX(-1)"  (mousedown)="onBtnDown(command.left)" (mouseup)="onBtnUp()"
            ></div> 
            <div class="btn-move" #center (click)="clickMoveCenter()" [innerHTML]="icon_arrow_center"></div> 
            <div 
                class="btn-move" #right [innerHTML]="icon_arrow_right"
                (click)="clickMoveX(1)" (mousedown)="onBtnDown(command.right)" (mouseup)="onBtnUp()"
            ></div>   
        </div>
        
        <div class="btns-row">
            <div class="btn-move" (click)="clickMoveY(-1); clickMoveX(-1)"></div> 
            <div 
                class="btn-move" #down [innerHTML]="icon_arrow_down"
                (click)="clickMoveY(-1)"  (mousedown)="onBtnDown(command.down)" (mouseup)="onBtnUp()"
            ></div> 
            <div class="btn-move" (click)="clickMoveY(-1); clickMoveX(1)"></div>   
        </div>
    </div>
</div>
