@import "../../../../assets/styles/colors";

.move-block-component {
    display: flex;
    gap: 50px;

    .control-btns {
        display: flex;
        gap: 5px;
        flex-direction: column;
        align-items: center;
        // flex-wrap: wrap;
        // width: 145px;
        
        .btns-row {
            display: flex;
            gap: 5px;       
            
            // &:focus {
            //     background-color: $color-3;
            // }     
        }
        
    }
}