
$color-1: rgba(28, 91, 159);
$color-: rgba(28, 91, 159, 0.35);
$color-3: rgb(109, 181, 186);
$color-4: rgb(109, 181, 186, 0.35);


$color-btn-control: #dddddd;
$color-btn-control-hover: #b3b3b3;
$color-btn-control-pressed: #797979;

$color-light-green: #98B995;
$color-light-red: #E26060;



$color-0: black;
$color-F: white;

$grey-1: #333333;
$grey-2: #4F4F4F;
$grey-3: #828282;
$grey-4: #BDBDBD;
$grey-5: #E0E0E0;
$grey-6: #F2F2F2;

$arrow-1: #011515;
$arrow-2: #043B3B;
$arrow-3: #006666;
$arrow-4: #269595;
$arrow-5: #97CFCF;
$arrow-6: #E7F2F2;

$arrow-6-tr: rgba(231, 242, 242, 0.2);
